//==============================================================================
// Widget Information
//==============================================================================
$widget_name: "Minimalist Sharing Buttons";
$widget_uri: "https://github.com/ArmandPhilippot/minimalist-sharing-buttons-widget";
$widget_description: "Display sharing buttons as a widget.";
$widget_version: "1.0.2";
$widget_wordpress_compatibility: "5.2";
$widget_author: "Armand Philippot <contact@armandphilippot.com>";
$widget_author-uri: "https://www.armandphilippot.com/";
$widget_license: "GNU General Public License v2 or later";
$widget_license-uri: "http://www.gnu.org/licenses/gpl-2.0.html";
$widget_domain: "minimalist-sharing-buttons";
$widget_domain-path: "/languages/";
