/*!
Plugin Name: #{ $widget_name }
Plugin URI: #{ $widget_uri }
Description: #{ $widget_description }
Version: #{ $widget_version }
Requires at least: #{ $widget_wordpress_compatibility }
Author: #{ $widget_author }
Author URI: #{ $widget_author-uri }
License: #{ $widget_license }
License URI: #{ $widget_license-uri }
Text Domain: #{ $widget_domain }
Domain Path: #{ $widget_domain-path }
*/
